{% load static %}

{% csrf_token %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CataQuaseTudo - Soluções ecológicas em transporte e destinação de resíduos não lixo comum, nem recicláveis</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Definição dos favicons -->
  <link href="{% static 'app_principal/img/favicon.png' %}" rel="icon">
  <link href="{% static 'app_principal/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fontes do Google-->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Bibliotecas CSS de terceiros -->
  <link href="{% static 'app_principal/js/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'app_principal/js/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'app_principal/js/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'app_principal/js/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'app_principal/js/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'app_principal/js/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'app_principal/js/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Arquivo CSS principal -->
  <link href="{% static 'app_principal/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
   * CataQuaseTudo
   * 
   * Autores: Alexandre André Stefanini, Marcia Cristina Ribeiro da Silva Oliveira, 
   * Cristiano Sales Neves, Orlando Cesar Sandre, Ygor de Aguiar camargo,
   * Wellington Fernando Ferreira, Vinicius Rafael de Lima Sandre
   * Versão: 1.0
   * Data da última versão: 17/11/2021
   */  
  ======================================================== -->
</head>

<body>

  <!-- ======= Cabeçalho ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">CataQuaseTudo</a></h1>
      <!-- Remova as marcações de comentários da linha abaixo para utilizar uma imagem como logotipo -->
      <!-- <a href="#" class="logo me-auto"><img src="{% static 'app_principal/img/logo.png' %}" alt="" class="img-fluid"></a> -->

      <nav id="navbar" class="navbar">
        <ul>
          
          <li><a class="nav-link scrollto active" href="#hero">Início</a></li>
          <li><a class="nav-link scrollto" href="#about">Sobre nós</a></li>
          <li><a class="nav-link scrollto" href="#services">Serviços</a></li>
          <li><a class="nav-link   scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">O time</a></li>
          
          <!-- Menus de cadastros e consultas-->
          <li class="dropdown"><a href="#"><span>Cadastros</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="#"><span>Clientes</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/cliente_create">Novo cliente</a></li>
                  <li><a href="/cliente_list_todos">Lista completa de clientes</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Transportadores</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/prestador_create">Novo transportador</a></li>
                  <li><a href="/prestador_list_todos">Lista completa de transportadores</a></li>
                </ul>
              </li>
            </ul>
          </li>
          
          
          <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
          <li><a class="getstarted scrollto" href="#about">Comece nos conhecendo</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Seção hero ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Soluções ecológicas em transporte e destinação de resíduos não lixo comum, nem recicláveis</h1>
          <h2>Nós conectamos você às pessoas que transportam e destinam corretamente resíduos não lixo comum, nem recicláveis.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Sobre nós</a>
            <a href="https://youtu.be/TgjouHFcIL8" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Veja o vídeo</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'app_principal/img/hero-img2.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- Fim da seção Hero -->

  <main id="main">

    <!-- ======= Seção parceiros ======= -->
    <section id="parcs" class="parcs section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'app_principal/img/clients/parceiro1.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'app_principal/img/clients/parceiro2.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'app_principal/img/clients/parceiro3.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'app_principal/img/clients/parceiro4.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'app_principal/img/clients/parceiro5.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'app_principal/img/clients/parceiro6.png' %}" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- Fim da seção Parceiros -->

    <!-- ======= Seção sobre nós ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Sobre nós</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              O CataQuaseTudo é uma proposta de solução para transporte e destinação de resíduos específicos não recolhidos pela coleta de
              lixo comum ou pela coleta de resíduos recicláveis. Alguns desses materiais são:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Resíduos de jardinagem como aparas grama, galhos de poda e troncos de árvores.</li>
              <li><i class="ri-check-double-line"></i> Resíduos de construções e reformas como alvenaria resultado de demolição, madeira de demolição, pisos, azulejos e telhas.</li>
              <li><i class="ri-check-double-line"></i> Eletrodomésticos, eletroeletrônicos, ferragens e  outros equipamentos.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Infelizmente a destinação de certos resíduos é feita incorretamente por causa da falta de pontos de coleta para materiais específicos. Isso tem resultado na proliferação
              de animais peçonhentos e pragas, transmissores de doenças, além da agressão ao meio ambiente por contaminação de solo, depredação de espécies vegetais e animais,
              entre outros efeitos nocivos ao homem e ao meio em que vive. Sobre o descarte correto desse tipo de resíduo, o site recicloteca.org.br em seu post sob o tema
              "Pneu e Entulho: produção, descarte e reciclagem" nos ajuda a entender melor esse cenário. Clique sobre o botão Leia mais para acessar esse post.
            </p>
            <a href="http://www.recicloteca.org.br/material-reciclavel/outros-pneu-e-entulho/" class="btn-learn-more">Leia mais</a>
          </div>
        </div>

      </div>
    </section><!-- Fim da seção Sobre nós -->

    <!-- ======= Seção Por que nós ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3>Saiba o por que utilizar o modelo de negócio <strong>CataQuaseTudo</strong></h3>
              <p>
                Veja abaixo alguns dos motivos que tornam a iniciativa diferente das propostas já existentes para transporte e destinação de resíduos que não são classificados como lixo doméstico ou reciclável.
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-1" class="collapsed"><span>01</span> A solução apresenta uma proposta alinhada com os princípios de proteção ao meio ambiente <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      É importante salientar que a solução tem por objetivo conectar as pessoas que precisam destinar uma forma de resíduo específico a alguém que se dispõe a transportar e destinar esse resíduo tendo a certeza de que isso será feito respeitando o meio ambiente.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> O serviço é oferecido a uma taxa fixa por solicitação por meio da solução <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      O valor acordado entre quem precisa descartar resíduos específicos e quem faz o transporte e destinação desse resíduo é livre de qualquer valor adicional, a não ser ao prestador que paga uam taxa fixa por solicitação de serviço através da plataforma CataQuaseTudo. Para maiores informações veja a seção Preços.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> O trabalho tem por objetivo a destinação dos resíduos específicos visando seu reaproveitamento <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      A solução CataQuaseTudo está em busca de pessoas ou empresas que utilizem os resíduos específicos de forma a reaproveitá-los como, por exemplo, na utilização de resíduos de alvenaria na pavimentação de passagens de pedestres ou de veículos ou que utilizem resíduos de jardinagem para compostagem ou trabalhos artesanais.
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("{% static 'app_principal/img/why-us.png' %}");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>

      </div>
    </section><!-- Fim da seção Por que nós -->

    <!-- ======= Seção habilidades ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'app_principal/img/skills.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Estimativas das habilidades mais requisitadas para a destinação dos resíduos a qual nos propomos a atender</h3>
            <p class="fst-italic">
              Com base em uma estimativa simples entendemos que precisaremos das habilidades em destinação de resíduos conforme a sua classificação como no gráfico. Assim, se você deseja ingressar em nossa plataforma, fique atento às oportunidades.
            </p>

            <div class="skills-content">

              <div class="progress">
                <span class="skill">Transporte e destinação de móveis velhos e quebrados <i class="val">50%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Transporte e destinação de eletroeletrônicos e eletrodomésticos danificados <i class="val">25%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Transporte e destinação de restos de jardinagem e paisagismo <i class="val">15%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Transporte e destinação de entulho - restos de reforma e construção <i class="val">10%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section><!-- Fim da seção habilidades -->

    <!-- ======= Seção serviços ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Serviços</h2>
          <p> Veja a seguir mais especificamente quais tipos de materiais podem ser destinados por meio da solução CataQuaseTudo. Ao clicar nos links em cada caixa, você verá alguns vídeos com ideias de reutilização desses materiais evitando a agressão ao meio ambiente. </p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxs-florist"></i></div>
              <h4><a href="https://youtu.be/9k87-m5drUc" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i> Resíduos de jardinagem - lixo verde</a></h4> 
              <p>Dentre os resíduos de jardinagem que podem ser transportados e destinados temos aparas de grama, restos de podas de arbustos e árvores e troncos e raízes resultantes da remoção de árvores.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bxs-building-house"></i></div>
              <h4><a href="https://youtu.be/ulEEZAs67oM" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i> Entulho - restos de materiais da construção civil</a></h4>               
              <p>São considerados entulho e podem ser transportados e destinados restos de cimento, tijolos, ferragens, areia, pedrisco, pisos, azulejos e telhas.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-desktop"></i></div>
              <h4><a href="https://youtu.be/Q7zyEtf7O24" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i>Eletrodomésticos e eletroeletrônicos </a></h4>               
              <p>Esta categoria inclui geladeiras, fogões, microondas, máquinas de lavar, secadoras, televisores, ventiladores, computadores, chuveiros, aparelhos de som, cafeteiras, entre outros. </p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-chair"></i></div>
              <h4><a href="https://youtu.be/5rRjopQbM9c" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i>Móveis velhos </a></h4>               
              <p>Podem ser recolhidos e destinados guarda-roupas, camas, cadeiras, mesas, escrivaninhas, cômodas, cabeceiras, armários de cozinha, gabinetes, sofás, poltronas, painéis, dentr outros.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- Fim da seção Serviços -->

    <!-- ======= Seção Chamada a ação ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Chamada a ação! - Descarte ecológico</h3>
            <p> Você já ouviu falar de descarte ecológico? Já pesquisou essa expressão alguma vez em algum website de busca? Muitas empresas oferecem esse serviço. Caso não tenha condições de transportar o material que deseja descartar, conte com a ajuda de um dos transportadores em nossa solução, mas antes entre em contato com uma empresa especializada na destinação do que você precisa descartar. Clique no botão ao lado e localize uma dessas empresas.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="https://www.google.com/search?q=descarte+ecol%C3%B3gico">Descarte ecológico</a>
          </div>
        </div>

      </div>
    </section><!-- Fim da seção chamada a ação -->

    <!-- ======= Seção Portfolio ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Nosso portfolio de serviços</h2>
          <p>Veja abaixo o nosso portfolio de serviços de transporte e descarte de resíduos.</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">Tudo</li>
          <li data-filter=".filter-jard">Jardinagem</li>
          <li data-filter=".filter-const">Construção</li>
          <li data-filter=".filter-eletro">Eletro...</li>
          <li data-filter=".filter-moveis">Móveis</li>          
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-const">
            <div class="portfolio-img"><img src="{% static 'app_principal/img/portfolio/madeirademo.jpeg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Madeira de demolição</h4>
              <p>Construção</p>
              <a href="{% static 'app_principal/img/portfolio/madeirademo.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Madeira de demolição"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jard">
            <div class="portfolio-img"><img src="{% static 'app_principal/img/portfolio/grama.jpeg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Aparas de grama</h4>
              <p>Jardinagem</p>
              <a href="{% static 'app_principal/img/portfolio/grama.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Aparas de grama"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jard">
            <div class="portfolio-img"><img src="{% static 'app_principal/img/portfolio/poda.jpeg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Resíduos de poda</h4>
              <p>Jardinagem</p>
              <a href="{% static 'app_principal/img/portfolio/poda.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Resíduos de poda"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-jard">
            <div class="portfolio-img"><img src="{% static 'app_principal/img/portfolio/tronco.jpeg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Troncos</h4>
              <p>Jardinagem</p>
              <a href="{% static 'app_principal/img/portfolio/tronco.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Troncos"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-const">
            <div class="portfolio-img"><img src="{% static 'app_principal/img/portfolio/tijolo.jpeg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Reboco e tijolos</h4>
              <p>Construção</p>
              <a href="{% static 'app_principal/img/portfolio/tijolo.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Reboco e tijolos"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-const">
            <div class="portfolio-img"><img src="{% static 'app_principal/img/portfolio/piso.jpeg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Telhas, azulejos e pisos</h4>
              <p>Construção</p>
              <a href="{% static 'app_principal/img/portfolio/piso.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Telhas, azulejos e pisos"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-moveis">
            <div class="portfolio-img"><img src="{% static 'app_principal/img/portfolio/moveis.jpeg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Móveis velhos</h4>
              <p>Móveis</p>
              <a href="{% static 'app_principal/img/portfolio/moveis.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Móveis velhos"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-eletro">
            <div class="portfolio-img"><img src="{% static 'app_principal/img/portfolio/fogao.jpeg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Fogões, geladeiras e máquinas de lavar</h4>
              <p>Eletrodomésticos e eletroeletrônicos</p>
              <a href="{% static 'app_principal/img/portfolio/fogao.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Fogões, geladeiras e máquinas de lavar"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-moveis">
            <div class="portfolio-img"><img src="{% static 'app_principal/img/portfolio/tvs.jpeg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Aparelhos de som, TVs, computadores e outros.</h4>
              <p>Eletrodomésticos e eletroeletrônicos</p>
              <a href="{% static 'app_principal/img/portfolio/tvs.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Aparelhos de som, TVs, computadores e outros"><i class="bx bx-plus"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- Fim da seção Portfolio -->

    <!-- ======= Seção Time ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Nosso time</h2>
          <p>Nosso time é formado por alunos dos cursos de Ciência de dados, Sistemas da informação e Engenharia da computação. Veja a seguir.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="{% static 'app_principal/img/team/none.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Orlando Cesar Sandre</h4>
                <span>Engenharia da Computação</span>
                <div class="social">
                  <a href="#team"><i class="ri-twitter-fill"></i></a>
                  <a href="#team"><i class="ri-facebook-fill"></i></a>
                  <a href="#team"><i class="ri-instagram-fill"></i></a>
                  <a href="#team"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="{% static 'app_principal/img/team/none.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Marcia Ribeiro da Silva Oliveira</h4>
                <span>Ciência de dados</span>
                <div class="social">
                  <a href="#team"><i class="ri-twitter-fill"></i></a>
                  <a href="#team"><i class="ri-facebook-fill"></i></a>
                  <a href="#team"><i class="ri-instagram-fill"></i></a>
                  <a href="#team"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="{% static 'app_principal/img/team/none.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Wellington Fernando Ferreira</h4>
                <span>Sistemas de Informação</span>
                <div class="social">
                  <a href="#team"><i class="ri-twitter-fill"></i></a>
                  <a href="#team"><i class="ri-facebook-fill"></i></a>
                  <a href="#team"><i class="ri-instagram-fill"></i></a>
                  <a href="#team"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="{% static 'app_principal/img/team/none.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Vinicius Rafael de Lima Sandre</h4>
                <span>Engenharia da computação</span>
                <div class="social">
                  <a href="#team"><i class="ri-twitter-fill"></i></a>
                  <a href="#team"><i class="ri-facebook-fill"></i></a>
                  <a href="#team"><i class="ri-instagram-fill"></i></a>
                  <a href="#team"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="{% static 'app_principal/img/team/none.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Alexandre André Stefanini</h4>
                <span>Ciência de dados</span>
                <div class="social">
                  <a href="#team"><i class="ri-twitter-fill"></i></a>
                  <a href="#team"><i class="ri-facebook-fill"></i></a>
                  <a href="#team"><i class="ri-instagram-fill"></i></a>
                  <a href="#team"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="{% static 'app_principal/img/team/none.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Cristiano Sales Neves</h4>
                <span>Sistemas de informação</span>
                <div class="social">
                  <a href="#team"><i class="ri-twitter-fill"></i></a>
                  <a href="#team"><i class="ri-facebook-fill"></i></a>
                  <a href="#team"><i class="ri-instagram-fill"></i></a>
                  <a href="#team"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- Fim da seção Time -->

    <!-- ======= Seção Preços ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Preços</h2>
          <p>Abaixo, nossos preços. Nos reservamos o direito de alterá-los sem prévio aviso.</p>
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Cadastrar-se e requisitar orçamentos como contratante</h3>
              <h4><sup>R$</sup>0<span>Valor por orçamento requisitado o que inclui:</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Efetuar seu cadastro</li>
                <li><i class="bx bx-check"></i> Pesquisar por serviços de transporte e destinação de resíduos</li>
                <li><i class="bx bx-check"></i> Solicitar orçamentos</li>
              </ul>
              <a href="#pricing" class="buy-btn">Comece agora</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <h3>Cadastrar-se e oferecer serviços como contratado</h3>
              <h4><sup>R$</sup>0<span>Divulgação dos serviços</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Efetuar seu cadastro como pessoa física ou jurídica</li>
                <li><i class="bx bx-check"></i> Cadastrar veículos para a oferta de serviços</li>
                <li><i class="bx bx-check"></i> Informar o tipo de materiais que pode transportar e destinar</li>
              </ul>
              <a href="#pricing" class="buy-btn">Comece agora</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Orçamentação e negociação de serviços pelo contratado (Em breve)</h3>
              <h4><sup>R$</sup>25<span>Por contrato estabelecido</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Visualizar os meios de contato do contratante</li>
                <li><i class="bx bx-check"></i> Aceitar ou recusar propostas de serviços</li>
                <li><i class="bx bx-check"></i> Contar com o suporte na utilização da solução</li>
              </ul>
              <a href="#pricing" class="buy-btn">Comece agora</a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- Fim da seção Preços -->

    <!-- ======= Seção de Questões frequentes ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Perguntas frequentes</h2>
          <p>Veja abaixo algumas das perguntas mais frequentes sobre o nosso modelo de negócio e as respostas a cada uma das perguntas. Clique sobre a pergunta para visualizar a resposta correspondente.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"  data-bs-target="#faq-list-1" class="collapsed">A iniciativa CataQuaseTudo é uma empresa de transporte e destinação de resíduos? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Não. A nossa iniciativa tem por objetivo conectar quem precisa descartar algum dos resíduos dentro da proposta da solução e uma pessoa que faz o transporte e a destinação correta do resíduo descartado.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">É possível assegurar que todo o resíduo recolhido será destinado corretamente? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  A destinação do resíduo é obtida através do acordo, no momento da contratação do transporte, entre quem precisa destinar resíduos e o transportador. Uma das partes deve assumir a responsabilidade pela destinação do resíduo em questão. Quaisquer penalidades pelo descarte incorreto podem ser aplicadas, pelas autoridades competentes, tanto a quem precisa descartar como a quem efetua o transporte e o descarte em si conforme as leis do país que regulam essa atividade.

                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">A intermediação da negociação e pagamento são feitos pela solução CataQuaseTudo? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Não. A solução tem por objetivo ser apenas um concentrador, um hub, onde aqueles que tem necessidade e aqueles que se dispõe a atendê-la podem se encontrar, efetuar o primeiro contato e, se desejarem, prosseguir com a negociação e contratação dos serviços propostos sem qualquer interferência da solução CataQuaseTudo.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- Fim da seção Questões frequentes -->

  </main><!-- Fim de #main -->

  <!-- ======= Rodapé ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>CataQuaseTudo</h3>
            <p>
              Cerquilho-SP <br>
              Brasil <br><br>
              <strong>Telefone:</strong> Em breve <br>
              <strong>Email:</strong> Em Breve<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Links principais</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Início</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">Sobre nós</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#cta">Serviços</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#pricing">Preços</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#faq">Perguntas frequentes</a></li>
            </ul>
          </div>


          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nossas redes sociais</h4>
            <p>Em breve, links para nossas redes sociais.</p>
            <div class="social-links mt-3">
              <a href="#footer" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#footer" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#footer" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#footer" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#footer" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>O meio ambiente agradece!</h4>
            <ul>
              <a href="#" class="logo me-auto"><img src="{% static 'app_principal/img/logo.png' %}" alt="" class="img-fluid"></a>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>CataQuaseTudo</span></strong>. Todos os direitos reservados
      </div>
      <div class="credits">
        Desenvolvido pelos alunos da Univesp, Polo de Cerquilho do oitavo bimestre do Eixo Computação. <a href="https://univesp.br/">Univesp</a>
      </div>
    </div>


    
  </footer><!-- Fim do Rodapé -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Arquivos Javascript de terceiros -->
  <script src="{% static 'app_principal/js/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'app_principal/js/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'app_principal/js/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'app_principal/js/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'app_principal/js/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'app_principal/js/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'app_principal/js/vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Principal arquivo Javascript -->
  <script src="{% static 'app_principal/js/main.js' %}"></script>

</body>

</html>